body
    margin-top: 1rem

.header
    padding-top: .25rem
    padding-bottom: .25rem
    height: 2.5rem

    & > a
        color: black
        text-decoration: none
        font-weight: bold

    & > a:hover
        text-decoration: underline

.nav-tabs
    height: 2.5rem
    border-bottom: 0

#source, #target
    height: 400px

#result-preview
#result-html
#result-ast
#result-loading
    overflow-wrap: break-word
    overflow: auto
    height: 400px
    display: none

#result-loading
    display: flex
    justify-content: center
    align-items: center

.loading-banner
    font-size: 2rem
    font-weight: 100
    font-family: monospace
    color: #ccc

#result-html
#result-ast
    white-space: pre-wrap

#result-preview
    border-top-left-radius: 0

// https://github.com/markdown-it/markdown-it/blob/master/support/demo_template/index.styl
.gh-ribbon
    display: block
    position: absolute
    right: -60px
    top: 44px
    transform: rotate(45deg)
    width: 230px
    z-index: 10000
    white-space: nowrap
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    background-color: #686868
    box-shadow: 0 0 2px rgba(102,102,102,0.4)
    padding: 1px 0

    a
        text-decoration: none !important
        border: 1px solid #ccc
        color: #fff
        display: block
        font-size: 13px
        font-weight: 700
        outline: medium none
        padding: 4px 50px 2px
        text-align: center
