name: tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        rust:
         - stable

    steps:
     - uses: actions/checkout@v3
     - run: cargo test
